.canvasContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
    /* Allow clicks to pass through */
    background: var(--bg-primary);
    /* Fallback */
    overflow: hidden;
}

.canvas {
    width: 100%;
    height: 100%;
}